$bg-color: #23252c;
$card-bg-color: #f5f5f5;
$orange-color: #f47d27;
$btn-color: #d1d5db;
$btn-active-color: #297fe5;
$full-white: #fff;
$footer-bg-color: #d5d4d8;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 80%;
}

body {
  font-family: "Inter", sans-serif;
  background-color: $bg-color;
  height: 100vh;
}

.card-container {
  max-width: 23.4375rem;
  margin: 0 auto;
}

.card {
  background-color: $card-bg-color;
  border-radius: 1rem;
}

// HEADER:

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.171875rem 0;
  gap: 0.234375rem;

  // &__name {

  // }

  &__job {
    color: $orange-color;
  }

  &__website {
    margin-top: 0.15625rem;
  }
}

// LINK:

.link {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1.171875rem;

  &__btn {
    padding: 0.35rem 0.8rem;
    border: none;
    background-color: $btn-color;
    border-radius: 5px;
    cursor: pointer;

    &--active {
      background-color: $btn-active-color;
      color: $full-white;
    }
  }

  &__content {
    display: flex;
    align-items: center;
  }

  &__text {
    font-family: "Inter";
    margin-left: 0.390625rem;
  }
}

// ABOUT :
.about {
  margin: 1.953125rem 2.34375rem;

  &__head {
    margin-bottom: 0.390625rem;
  }

  &__text {
    opacity: 0.8;
  }
}

// INTEREST:
.interest {
  margin: 1.953125rem 2.34375rem;

  &__head {
    margin-bottom: 0.390625rem;
  }

  &__text {
    opacity: 0.8;
  }
}

// FOOTER:
.footer {
  background-color: $footer-bg-color;
  padding: 1rem 0;
  display: flex;
  justify-content: space-evenly;

  // &__link {
  // }

  &__img {
    width: 1.5625rem;
  }
}

.img-container {
  overflow: hidden;
}

.img {
  max-width: 23.4375rem;
}
