*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: "Inter", sans-serif;
  font-size: 62.5%;
  background-color: #23252c;
  height: 100vh; }

.card {
  margin: 60px 200px;
  background-color: #f5f5f5; }
