*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 80%; }

body {
  font-family: "Inter", sans-serif;
  background-color: #23252c;
  height: 100vh; }

.card-container {
  max-width: 23.4375rem;
  margin: 0.1rem auto; }

.card {
  background-color: #f5f5f5;
  border-radius: 1rem;
  overflow: hidden; }

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0;
  gap: 0.234375rem; }
  .header__job {
    color: #f47d27; }
  .header__website {
    margin-top: 0.15625rem; }

.link {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem; }
  .link__btn {
    padding: 0.35rem 0.8rem;
    border: none;
    background-color: #d1d5db;
    border-radius: 5px;
    cursor: pointer; }
    .link__btn--active {
      background-color: #297fe5;
      color: #fff; }
  .link__content {
    display: flex;
    align-items: center; }
  .link__text {
    font-family: "Inter";
    margin-left: 0.390625rem; }

.about {
  margin: 1.2rem 2.34375rem; }
  .about__head {
    margin-bottom: 0.390625rem; }
  .about__text {
    opacity: 0.8; }

.interest {
  margin: 1.2rem 2.34375rem; }
  .interest__head {
    margin-bottom: 0.390625rem; }
  .interest__text {
    opacity: 0.8; }

.footer {
  background-color: #d5d4d8;
  padding: 1rem 0;
  display: flex;
  justify-content: space-evenly; }
  .footer__img {
    width: 1.5625rem; }

.img-container {
  max-width: 23.45rem;
  max-height: 18rem;
  overflow: hidden; }

.img {
  height: 18rem;
  width: 23.45rem;
  object-fit: cover; }
